$colors: (
    "anydesk": #fc4236,
    "canva": #0bb7ce,
    "chat-gpt": #242424,
    "dbeaver": #997f6c,
    "github-desktop": #782f9e,
    "obs-studio": #0e0b0e,
    "onenote": #ca64ea,
    "postman": #ff6c37,
    "powershell": #4d87ed,
    "área-de-trabalho-remota": #c7390a,
    "spotify": #1ed760,
    "virtual-box": #21416b,
    "visual-studio-code": #219ede
);

@function app-color($app) {
    @return map-get($colors, $app);
}

.apps {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-inline: 2em;

    p {
        line-height: 23.5px;
        margin-block: 5px;
    }

    .cards {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

        .card {
            @include transition(all 200ms ease);
            @include linear-gradient(to top, transparent, var(--opacity-color));
            align-items: center;
            border-radius: 5px;
            border: 1.5px solid var(--opacity-color);
            display: flex;
            flex-direction: column;
            padding: 20px;

            .card-header {
                svg {
                    font-size: 2.5em;

                    @each $app in map-keys($colors) {
                        &[aria-label="#{$app}"] {
                            color: app-color($app);
                        }
                    }
                }
            }

            .card-body {
                margin-block: 5px;

                strong {
                    color: $main-color;
                }
            }

            .card-footer {
                p {
                    font-size: .9em;
                    opacity: .65;
                }
            }

            &:hover {
                @include transform(scale(.9));
            }
        }
    }
}
