.contact-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        @include title;
        margin-block: 1em;
    }

    p {
        line-height: 23.5px;
        margin-block: 5px;
    }

    .actions {
        display: flex;
        flex-direction: row;
        gap: 5px;

        button[type="button"] {
            @include button;
        }
    }

    .contact-form {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin-block: 2em;
        position: relative;
        width: 60dvw;

        div {
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 100%;

            label {
                cursor: pointer;
                font-family: $italic;
                position: relative;
                width: max-content;

                &::after {
                    @include transition(all 300ms ease);
                    bottom: 2.5px;
                    color: $main-color;
                    content: "\10102";
                    font-family: $bold;
                    margin-left: 5px;
                    position: absolute;
                }
            }

            &:has(:where(input, textarea):valid) {
                label {
                    &::after {
                        content: "\2713";
                        color: #0ca71e;
                    }
                }
            }

            :where(input, textarea) {
                @include transition(all 300ms ease);
                background-color: transparent;
                border-radius: 2.5px;
                border: 1px solid transparent;
                border-left: 2px solid $main-color;
                color: var(--text-color);
                cursor: text;
                display: block;
                min-width: 100%;
                outline: 1px solid $main-color;
                padding: 10px;

                &:not(:focus) {
                    border-left-color: var(--text-color);
                    outline-color: transparent;

                    &:invalid {
                        border-left: 2px solid $main-color;
                    }
                }

                &:focus {
                    &:valid {
                        border-left-color: var(--text-color);
                        outline-color: var(--text-color);
                    }
                }

                &::placeholder {
                    @include transition(all 300ms ease);
                    @include user-select(none);
                }

                &:hover {
                    &::placeholder {
                        opacity: .5;
                    }
                }

                &:active {
                    &::placeholder {
                        opacity: 1;
                    }
                }

                &:invalid {
                    @include animation(shake 800ms ease);
                }
            }

            textarea {
                min-height: 20dvh;
                overflow-y: auto;
                resize: none;
            }

            &:last-of-type {
                button[type="submit"] {
                    @include button;
                    -webkit-box-reflect: $reflect;
                }
            }
        }
    }
}

@include keyframes(shake) {

    10%,
    90% {
        @include transform(translate3d(-1px, 0, 0));
    }

    20%,
    80% {
        @include transform(translate3d(2px, 0, 0));
    }

    30%,
    50%,
    70% {
        @include transform(translate3d(-4px, 0, 0));
    }

    40%,
    60% {
        @include transform(translate3d(4px, 0, 0));
    }
}
