.contact-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        @include title;
        margin-block: 1em;
    }

    p {
        line-height: 23.5px;
        margin-block: 5px;
    }

    .actions {
        display: flex;
        flex-direction: row;
        gap: 5px;

        button[type="button"] {
            @include button;
        }
    }

    .contact-form {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin-block: 2em;
        position: relative;
        width: 60dvw;

        div {
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 100%;

            label {
                cursor: pointer;
                font-family: $italic;
                width: max-content;
            }

            :where(input[type="text"], input[type="email"], textarea) {
                @include transition(all 300ms ease);
                background-color: transparent;
                border-radius: 2.5px;
                border: 1px solid transparent;
                border-left: 2px solid $main-color;
                color: var(--text-color);
                cursor: text;
                display: block;
                min-width: 100%;
                outline: 1px solid $main-color;
                padding: 10px;

                &:not(:focus) {
                    border-left-color: var(--text-color);
                    outline-color: transparent;
                }

                &::placeholder {
                    @include transition(all 300ms ease);
                    @include user-select(none);
                }

                &:hover {
                    &::placeholder {
                        opacity: .5;
                    }
                }

                &:active {
                    &::placeholder {
                        opacity: 1;
                    }
                }

                &:valid {
                    border-left-color: var(--text-color);
                    outline-color: var(--text-color);
                }
            }

            textarea {
                min-height: 20dvh;
                overflow-y: auto;
                resize: none;
            }

            &:last-of-type {
                button[type="submit"] {
                    @include transition(all 300ms ease);
                    background-color: transparent;
                    border-radius: 2.5px;
                    border: 2px solid var(--text-color);
                    color: var(--text-color);
                    cursor: pointer;
                    outline: none;
                    padding: 5px;
                    -webkit-box-reflect: $reflect;

                    &:hover {
                        background-color: var(--text-color);
                        color: var(--bg-color);
                    }

                    &:active {
                        @include transform(scale(.98));
                    }
                }
            }
        }
    }
}
