.footer {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
    width: 100%;

    .footer-info {
        display: flex;
        flex-direction: column;
        gap: 5px;

        p {
            font-size: .8em;
            opacity: .65;

            :where(a, strong) {
                font-family: $bold;
            }

            a {
                @include transition(all 300ms ease);
                color: inherit;
                text-decoration: none;
                cursor: pointer;

                &:hover {
                    color: $main-color;
                }

                &:active {
                    color: inherit;
                }
            }
        }
    }
}
