.home {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    height: 80dvh;
    justify-items: center;
    width: 100%;

    :where(.image, .main-content) {
        height: 80%;
        width: 80%;
    }

    .image {
        @include filter(opacity(.9));
        @include user-select(none);
        background: url(../assets/profile.jpeg) center/contain no-repeat;
        mask: url(../assets/ink-splash.svg) no-repeat center / 100%;
        pointer-events: none;
    }

    .main-content {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            @include user-select(none);
            font-family: $extra-bold;
            font-size: 2.5em;

            &::after {
                @include animation(title-words 18000ms linear infinite);
                color: $main-color;
                content: "";
                margin-left: 10px;
            }
        }

        p {
            line-height: 23.5px;
            margin-block: 5px;
        }

        &::after {
            border-bottom: 5px solid $main-color;
            content: "";
            margin-top: 10px;
            width: 10%;
        }
    }
}

@include keyframes(title-words) {
    0% {
        content: "melhores.";
    }

    16.67% {
        content: "eficientes.";
    }

    33.33% {
        content: "atraentes.";
    }

    50% {
        content: "seguras.";
    }

    66.67% {
        content: "profissionais.";
    }

    83.33% {
        content: "responsivas.";
    }

    100% {
        content: "melhores.";
    }
}
