@charset "UTF-8";

/// @group fonts ----------------------------------------------------------------------------------

$fonts: (
    "RethinkSans Bold Italic",
    "RethinkSans Bold",
    "RethinkSans Extra Bold Italic",
    "RethinkSans Extra Bold",
    "RethinkSans Italic",
    "RethinkSans Medium Italic",
    "RethinkSans Medium",
    "RethinkSans Regular",
    "RethinkSans Semi Bold Italic",
    "RethinkSans Semi Bold"
);

@each $font in $fonts {
    @font-face {
        font-family: "#{$font}";
        src: url("../fonts/#{$font}.ttf") format("truetype");
    }
}

/// @group variables ------------------------------------------------------------------------------

$bold-italic: "RethinkSans Bold Italic", sans-serif;
$bold: "RethinkSans Bold", sans-serif;
$extra-bold-italic: "RethinkSans Extra Bold Italic", sans-serif;
$extra-bold: "RethinkSans Extra Bold", sans-serif;
$italic: "RethinkSans Italic", sans-serif;
$medium-italic: "RethinkSans Medium Italic", sans-serif;
$medium: "RethinkSans Medium", sans-serif;
$regular: "RethinkSans Regular", sans-serif;
$semi-bold-italic: "RethinkSans Semi Bold Italic", sans-serif;
$semi-bold: "RethinkSans Semi Bold", sans-serif;

$reflect: below 10px linear-gradient(transparent, #00000050);

$dropdown-color: #cccccc20;
$main-color: #942648;

/// @group mixins ---------------------------------------------------------------------------------

@mixin filter($filters...) {
    -ms-filter: $filters;
    -webkit-filter: $filters;
    filter: $filters;
}

@mixin backdrop-fiter($backdrop-filters...) {
    -webkit-backdrop-filter: $backdrop-filters;
    backdrop-filter: $backdrop-filters;
}

@mixin transform($tranforms...) {
    -moz-transform: $tranforms;
    -ms-transform: $tranforms;
    -o-transform: $tranforms;
    -webkit-transform: $tranforms;
    transform: $tranforms;
}

@mixin animation($animations...) {
    -moz-animation: $animations;
    -ms-animation: $animations;
    -o-animation: $animations;
    -webkit-animation: $animations;
    animation: $animations;
}

@mixin animation-delay($animation-delay) {
    -moz-animation-delay: $animation-delay;
    -ms-animation-delay: $animation-delay;
    -o-animation-delay: $animation-delay;
    -webkit-animation-delay: $animation-delay;
    animation-delay: $animation-delay;
}

@mixin keyframes($animation-name) {
    @-moz-keyframes #{$animation-name} {
        @content;
    }

    @-ms-keyframes #{$animation-name} {
        @content;
    }

    @-o-keyframes #{$animation-name} {
        @content;
    }

    @-webkit-keyframes #{$animation-name} {
        @content;
    }

    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin transition($transitions...) {
    -moz-transition: $transitions;
    -ms-transition: $transitions;
    -o-transition: $transitions;
    -webkit-transition: $transitions;
    transition: $transitions;
}

@mixin linear-gradient($linear-gradient...) {
    background: -moz-linear-gradient($linear-gradient);
    background: -ms-linear-gradient($linear-gradient);
    background: -o-linear-gradient($linear-gradient);
    background: -webkit-linear-gradient($linear-gradient);
    background: linear-gradient($linear-gradient);
}

@mixin sticky {
    position: sticky;
    position: -webkit-sticky;
}

@mixin user-select($user-select) {
    -webkit-user-select: $user-select;
    -moz-user-select: $user-select;
    -ms-user-select: $user-select;
    user-select: $user-select;
}

@mixin title {
    color: $main-color;
    font-family: $extra-bold;
    font-size: 2em;
    letter-spacing: .5px;
}

@mixin subtitle {
    font-family: $bold;
    font-size: 1.5em;
    letter-spacing: .5px;
}

@mixin button {
    @include linear-gradient(to bottom, transparent, var(--opacity-color));
    @include transition(transform 150ms ease);
    align-items: center;
    border-radius: 5px;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-family: $medium;
    font-size: calc(1rem + 1.5px);
    gap: 5px;
    padding: 10px;
    position: relative;

    > svg {
        cursor: pointer;
    }

    &:hover {
        @include transform(scale(.95));
    }

    &:active {
        @include transform(scale(1));
    }
}

/// @group themes ---------------------------------------------------------------------------------

.light-theme {
    --bg-color: #bababa;
    --text-color: #111111;
    --opacity-color: #78787810;
}

.dark-theme {
    --bg-color: #111111;
    --text-color: #bababa;
    --opacity-color: #bfbfbf10;
}

body {
    @include transition(all 250ms ease-in-out);
    background-color: var(--bg-color);
    color: var(--text-color);

    @include keyframes(reveal-content) {
        from {
            @include filter(blur(5px));
            @include transform(translateY(10em));
            opacity: 0;
        }

        to {
            @include filter(blur(0));
            @include transform(translateY(0));
            opacity: 1;
        }
    }

    > * {
        &:not(header, footer) {
            @include animation(reveal-content 5000ms linear);
            animation-range: entry 0% cover 30%;
            animation-timeline: view();
        }
    }
}

/// @group global-styles --------------------------------------------------------------------------

:root {
    font-size: 13px;
}

* {
    box-sizing: border-box;
    cursor: default;
    font-family: $regular;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;

    &::selection {
        background-color: $main-color;
        color: var(--text-color);
    }
}

.page-transition {
    @include filter(blur(30px));
    @include transform(translateY(40px));
    background-color: var(--bg-color);
    opacity: 0;
}

.scroll-to-top-button {
    @include transition(all 250ms ease);
    @include user-select(none);
    align-items: center;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    bottom: 20px;
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    opacity: .45;
    padding: 10px;
    position: fixed;
    right: 20px;
    z-index: 10;

    > svg {
        @include transition(transform 150ms ease);
        cursor: pointer;
        fill: $main-color;
        margin-left: 5px;
        vertical-align: middle;
    }

    &:hover {
        opacity: 1;
    }

    &:active {
        @include transform(scale(.95));

        > svg {
            @include transform(translateY(-5px));
        }
    }
}

/// @group imports --------------------------------------------------------------------------------

@import "./AppsAndEquipments.scss";
@import "./Contact.scss";
@import "./Footer.scss";
@import "./Home.scss";
@import "./Navbar.scss";
@import "./Projects.scss";
@import "./Technologies.scss";
@import "./Toast.scss";
