.section {
	.about {
		p {
			@include content;

			> span {
				color: $red;
				font-family: $bold;
			}

			&:not(:first-child) {
				@include space-between;
			}
		}
	}

	.cv {
		.cv-button {
			@include transition(300ms);
			padding: 5px;
			cursor: pointer;
			background-color: transparent;
			border: 1.5px solid $red;
			border-radius: 5px;
			font-family: $medium;

			&:hover {
				background-color: $red;
				color: #ffffff;
			}

			&:active {
				scale: .95;
			}
		}
	}
}
