.application-header {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	margin: 4em 0;
	pointer-events: none;

	.photo {
		@include userSelect(none);

		.profile-figure {
			.profile-photo {
				clip-path: circle(50%);
				margin: 0;
				object-fit: cover;
			}
		}
	}

	.profile {
		margin-left: 1em;

		.name {
			@include title;
		}

		.profession {
			@include content;
		}
	}
}
