.section {
	.project-description {
		p {
			@include content;
			margin-bottom: .5em;
		}
	}

	.project-link {
		text-decoration: none;

		.project-icon {
			@include shadow;
			@include transition(300ms);
			cursor: pointer;
			font-size: 1.3em;

			&:hover {
				opacity: .3;
			}
		}

		& :first-child {
			margin-right: .6em;
		}

		&:last-child {
			&::after {
				color: $red;
				content: "Ver mais";
				font-family: $italic;
				font-size: $font-size;
				pointer-events: none;
			}
		}
	}
}
