.section {
	.technologies {
		@include space-between;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 1.2em;
		justify-content: center;

		.technology-item {
			@include transition(100ms);
			align-items: center;
			display: flex;
			flex-direction: column;
			text-align: center;

			.technology-icon {
				@include shadow;
				font-size: 2em;
				margin-bottom: 5px;
			}

			.technology-description {
				@include content;
				color: $red;
				font-family: $bold;
			}

			&:hover {
				scale: .9;
			}
		}
	}
}
