body {
	&.light-theme {
		background-color: #e5e5e5;

		:where(.form-button, .cv-button) {
			@include button($text-color: #212121, $hover-color: #ffffff);
		}

		:where(.modal-section-title, .name, .project-title, .section-title > h2) {
			@include title($text-color: #212121);
		}

		[class*="icon"] {
			* {
				color: #212121;
			}
		}
	}

	&.dark-theme {
		background-color: #131516;

		:where(.form-button, .cv-button) {
			@include button($text-color: #cececf, $hover-color: #212121);
		}

		:where(.modal-section-title, .name, .project-title, .section-title > h2) {
			@include title($text-color: #cececf);
		}

		[class*="icon"] {
			* {
				color: #cececf;
			}
		}
	}
}
